---
import Nav from '../../layouts/Nav.astro';
import Layout from '../../layouts/Layout.astro';

// styles
// base style
import '../../styles/global.css';
// style for README.md
import '../../styles/readme.css';

// projects json
import projects from './projects.json';

// get static paths from projects.json
export function getStaticPaths() {
    return projects.map(project => ({
        params: {
            slug: project.slug
        }
    }));
}

// get slug from Astroo params object
const { slug } = Astro.params;
// select project from projects.json by slug
const project = projects.find(project => project.slug === slug);

// fetch repo's readme
const res = await fetch(`https://api.github.com/repos/agmyintmyatoo/${project.repo}/contents/README.md`, {
    headers: {
        "Accept": "application/vnd.github.v3.html",
    }
});
const readme = await res.text();
---

<Layout title={project.name}>
    <Nav />
    <main>
        <header>
            <h1 class="style-montserrat">{project.name}</h1>
            <p>{project.description}</p>
            <div class="tags">
                {project.tags.map(tag => (
                <span class={`${tag}`}>{tag}</span>
                ))}
            </div>
        </header>
        <div class="divide">
            <span>README.md</span>
            <hr />
        </div>
        <article class="readme" set:html={readme} />
    </main>
</Layout>

<style>
    :root {
        --color-react: #61dbfb;
        --color-javascript: #f0db4f;
    }

    html {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23999999' fill-opacity='0.35'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    header {
        margin: 4rem 0;
    }

    header>h1 {
        font-weight: 600;
        font-size: var(--font-size-xl);
        letter-spacing: 0.8rem;
    }

    header>p {
        font-weight: 500;
    }

    .tags {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
    }

    .tags>span {
        border-radius: 1rem;
        padding: 0.25rem 1rem;
        color: var(--color-text);
        text-transform: capitalize;
    }

    hr {
        width: 100%;
    }

    .react {
        background-color: var(--color-react);
    }

    .javascript {
        background-color: var(--color-javascript);
    }
</style>